@import 'utils/_variables.scss';
@import 'utils/_mixins.scss';
@import 'utils/_functions.scss';
@import 'utils/_placeholders.scss';
@import 'layout/_header.scss';
@import 'layout/_footer.scss';
@import 'pages/_landing.scss';
@import 'pages/_legal.scss';


body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}		
@keyframes wiggle {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes dots {
	0% {
		transform: initial;
	}

	100% {
		transform: translateY(-5px);
	}
}
h1.main-title {
	margin-top: 75px;
	text-align: center;
	@extend %font;
	font-weight: bold;
	@include mobile-only {
		display: none;
	}
}
div.menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 10px 10px 10px;
	margin: 100px;
	margin-top: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	@include mobile-only {
		margin: 0;
	}
	div.title {
		text-align: center;
		width: 100%;
		h1 {
			font-size: 3em;
			margin-top: 10px;
			@include mobile-only {
  				font-size: 1.5em;
  			}
		}	
	}
	div.courses {
		display: grid;
		grid-template-columns: 10fr 2fr;
		grid-auto-rows: minmax(min-content, max-content);
		.dish {
			grid-column: 1 / span 1;
			padding-left: 100px;
			@include mobile-only {
				padding-left: 5px;
			}
		}
		.price {
			grid-column: 2 / span 1;
			margin-left: auto;
			padding-right: 100px;
			@include mobile-only{
				margin: auto;
				padding-right: 5px;
			}
		}
		.desert {
			grid-column: 1 / span 2;
		}
		.subtitle {
			grid-column: 1 / span 2;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-top: 100px;
			h1 {
				font-size: 2rem;
				@include mobile-only {
					font-size: 1.75rem;
				}
				span.underline {
					@for $i from 1 through 4 {
						&--#{$i} {
							margin: 0 auto;
							padding: 0;
							transition: all 0.25s ease-in-out;
							position: relative;
							&:before {
								content: " ";
								position: absolute;
								height: 5px;
								bottom: 0px;
								margin: 10px 0 0;
								border-radius: 5px;
								background: -webkit-linear-gradient(45deg, menu($i));
								transform: scaleX(0);
								transition: transform 0.75s ease-in-out;
							}
							&:hover:before {
								left: 0;
								width: 100%;
			          			transform: scaleX(1);
			          			transform-origin: left;
							}
						}
					}
				}
			}
			img {
				width: 30%;
				@include mobile-only {
					width: 25%;
				}
			}
		}
	}
	&--1 {
		background-color: $menu1-bg-color;
		color: $menu1-f-color;
		.title .title-img {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		#note {
			@include mobile-only {
				width: 25%;
			}
		}
		h1 {
			font-family: 'Devonshire', cursive;
		}

		div.courses {
			font-family: 'Caveat', cursive;
			font-size: 2rem;
			@include mobile-only {
				font-size: 1.5rem;
			}
			.dish, .price {
				padding: 0;
			}
		}
		div.menu-end {
			display: flex;
			align-items: center;
			font-family: 'Devonshire', cursive;
			font-size: 2.5rem;
			img {
				height: 2.5rem;
			}
		}
	}
	&--2 {
		background-color: $menu2-bg-color;
		.title h1 {
			font-family: 'Croissant One', cursive;
			background: -webkit-linear-gradient(45deg, $menu2-f-color-1, $menu2-f-color-2, $menu2-f-color-3);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		div.courses {
			font-family: 'Gelasio', serif;
			font-size: 1.5rem;
			@include mobile-only {
				font-size: 1rem;
			}
			.desert {
				padding-left: 100px;
				color: $menu2-f-color-3;
				@include mobile-only {
					padding-left: 5px;
				}
			}
			.subtitle {
				h1 {
					@include mobile-only {
  						font-size: 1rem;
  					}
				}
			}
			@for $i from 1 through 3 {
				.dish, .price, .subtitle {
					&--#{$i} {
						@if ($i == 1) {
							color: $menu2-f-color-1
						} @else if ($i == 2) {
							color: $menu2-f-color-2
						} @else {
							color: $menu2-f-color-3
						}
					}
				}
			}
		}
	}
	&--3 {
		background-color: $menu3-bg-color;
		.title h1 {
			font-family: 'Dancing Script', cursive;
			background: -webkit-linear-gradient(45deg, $menu3-f-color-1, $menu3-f-color-2, $menu3-f-color-3);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
		}
		div.courses {
			font-family: 'Caveat', serif;
			font-size: 1.5rem;
			@include mobile-only {
				font-size: 1rem;
			}
			.subtitle {
				h1 {
					@include mobile-only {
  						font-size: 1.15rem;
  					}
				}
			}
		}
	}
	&--4 {
		background-color: $menu4-bg-color;
		.title h1 {
			font-family: 'Kaushan Script', cursive;
			background: -webkit-linear-gradient(45deg, $menu4-f-color-1, $menu4-f-color-2, $menu4-f-color-3);
	  		-webkit-background-clip: text;
	  		-webkit-text-fill-color: transparent;
		}
		div.courses {
			font-family: 'Caveat', serif;
			font-size: 1.5rem;
		}
	}	
}