footer {
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	height: 80px;
	background-color: $primary-color;
	@extend %font;
	a {
		@include links;
		&:hover {
			@include links;
		}
		margin-left: 20px;
		margin-right: 20px;
		font-size: 1.8rem;
		@include mobile-only {
			font-size: 1rem;
		}
	}
	nav {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			&:hover{
				animation: wiggle 500ms infinite;
			}
		}
	}
}