section {
	flex: 1;
	margin-top: 50px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 1fr;
	grid-column-gap: 60px;
	grid-row-gap: 60px;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-areas: 
	". menu1 menu2 ."
	". menu3 menu4 ."
	". next next .";
	align-items: center;
	@include mobile-only {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 2fr) 1fr;
		grid-template-areas:
		"menu1"
		"menu2"
		"menu3"
		"menu4"
		"next"
	}
	div {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		@include mobile-only {
			width: 70%;
		}
	}
	.resto {
		@for $i from 1 through 4 {
			&--#{$i} {
				@if ($i == 1) {
					background-color: $menu1-bg-color;
					grid-area: menu1;
				} @else if ($i == 2){
					background-color: $menu2-bg-color;
					grid-area: menu2;
				} @else if ($i == 3) {
					background-color: $menu3-bg-color;
					grid-area: menu3;
				} @else {
					background-color: $menu4-bg-color;
					grid-area: menu4;	
				}
				overflow:hidden;
			 	@include mobile-only {
			 		margin: auto;
			 	}
			}
		}
	}
	img {
		max-width: 100%;
		transform: scale(1);
		opacity: 1;
		transition: all 1000ms;
		&:hover {
			transform: scale(1.2);
			opacity: 0.5;
		}
	}
	article {
		grid-area: next;
		text-align: center;
		display: flex;
		justify-content: space-around;
		align-items: center;
		@extend %font;
		button {
			@include button;
			@include mobile-only {
				font-size: 1em;
			}
			.typing {
				animation: dots $anim-dur infinite alternate; 
				@for $i from 1 through $num-dots {
            		&--#{$i} {
                		animation-delay: $anim-delay * $i;
             		}
        		}
			}
		}
	}	
}

svg {
	width: 5px;
	height: 5px;
}