//=====Mixins=====
@mixin button {
	padding: .5em 2em;
    border: 1px solid transparent;
	border-radius: .5rem;
    margin: 8px 8px 8px 8px;
    background-color: $primary-color;
	color: $secondary-color;
    display: inline-block;
    font-family: inherit;
    font-size: 2.4em;
    text-align: center;
    text-decoration: none;
   }
@mixin links {
	text-decoration: none;
	color: $secondary-color;
}
//=====Breakpoint=====
$breakpoints: (
  mobile: 599px
);
//====================
@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
  @content;
  }
}
@mixin start($start) {
	grid-column: 1 / span 1;
	grid-row: $start /span 1;
}