//=====Color variables=====
$primary-color: #579C87;
$secondary-color: #FDCB46;
$menu1-bg-color: #FCDFDB;
$menu2-bg-color: #FFF4FE;
$menu3-bg-color: #F9F9F9;
$menu4-bg-color: #FDFFFC;
$menu1-f-color: #3D1319;
$menu1-f-color-1: #F05561;
$menu1-f-color-2: #F26D65;
$menu1-f-color-3: #F6916B;
$menu2-f-color-1: #C67412;
$menu2-f-color-2: #A56799;
$menu2-f-color-3: #8700CB;
$menu3-f-color-1: #0228DD;
$menu3-f-color-2: #0670F3;
$menu3-f-color-3: #229DF9;
$menu4-f-color-1: #41963C;
$menu4-f-color-2: #7DC85D;
$menu4-f-color-3: #BEFF7F;
//=====Animation variables=====
$num-dots: 3;
$anim-dur: 500ms;
$anim-delay: $anim-dur / $num-dots;